/*
// Usamos modules.css para:
// - Evitar conflitos de nomes de classe
// - Garantir estilo encapsulado por componente
// - Manter o código mais organizado e escalável 
// - Use **apenas classes**, IDs não funcionam corretamente. classes ficam únicos, evita conflito entre componentes.
// - Na importação: import styles from './Componente.module.css' (diferente quando nao usa modulo import '/style.css'
// - Na tag: className={styles.nomeDaClasse}
*/


.header {
    margin: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    background-color: var(--red-200);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}
